/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  font-family: "Zen Dots", serif;
  background-color: #2e2e2e;
  color: #fff;
  font-size: 62.5%; /* 1rem = 10px */
  transition: all 0.2s;
  overflow-x: hidden;
  height: 100%;
}

body {
  height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
select option {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
.header {
  position: relative;
  text-align: center;
  padding: 2rem;
  /* border-bottom: 0.7rem solid #eee; */
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 2rem;
  justify-items: center;
  align-items: center;
}

.header-container nav {
  width: 80%;
  align-self: normal;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.game-header {
  font-size: 4.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 800;
  grid-column: 1 / -1;
  justify-self: center;
}

.game-instruction {
  grid-column: 1 / -1;
  font-size: 2.4rem;
  justify-self: center;
  margin-top: -2.4rem;
  /* margin-bottom: 3rem; */
}

.game-number {
  position: relative;
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 20rem;
  padding: 1.5rem 0;
  text-align: center;
  border-radius: 2px;
  z-index: 1;
}

.game-number::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 200vh;
  height: 0.5rem;
  background-color: #eee;
  transform: translateY(-50%);
  z-index: -1;
}

.game-number::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 200vh;
  height: 0.5rem;
  background-color: #eee;
  transform: translateY(-50%);
  z-index: -1;
}

#difficulty {
  width: 18rem;
  font-size: 2rem;
  border: none;
  padding: 0 1.5rem;
}

/* Buttons */
.btn {
  font-size: 2.4rem;
  padding: 1rem 2rem;
  border: none;
  background-color: #eee;
  color: #222;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 2px;
}

.btn:hover {
  background-color: #ccc;
}

.btn:active {
  transform: scale(0.95);
}

.check {
  width: 100%;
  max-width: 25rem;
}

/* Main */
.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 3.2rem;
}

.game-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.game-result {
  display: flex;
  flex-direction: column;
  font-size: 3.2rem;
  text-align: start;
  gap: 2rem;
  transform: translateX(5rem);
}

.guess {
  background: none;
  border: 0.4rem solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5.4rem;
  padding: 2rem;
  text-align: center;
}

/* Effects */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

.shake {
  animation: shake 0.5s;
}

/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  font-family: "Zen Dots", serif;
  background-color: #2e2e2e;
  color: #fff;
  font-size: 62.5%; /* 1rem = 10px */
  transition: all 0.2s;
  overflow-x: hidden;
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
.header {
  position: relative;
  text-align: center;
  padding: 2rem;
  /* border-bottom: 0.7rem solid #eee; */
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 2rem;
  justify-items: center;
  align-items: center;
}

.header-container nav {
  width: 80%;
  align-self: normal;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.game-header {
  font-size: 4.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 800;
  grid-column: 1 / -1;
  justify-self: center;
}

.game-instruction {
  grid-column: 1 / -1;
  font-size: 2.4rem;
  justify-self: center;
  margin-top: -2.4rem;
  /* margin-bottom: 3rem; */
}

.game-number {
  position: relative;
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 20rem;
  padding: 1.5rem 0;
  text-align: center;
  border-radius: 2px;
  z-index: 1;
}

.game-number::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 200vh;
  height: 0.5rem;
  background-color: #eee;
  transform: translateY(-50%);
  z-index: -1;
}

.game-number::after {
  content: "";
  position: absolute;
}

/* Tablets */
@media (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header {
    padding: 1.5rem;
  }

  .header-container nav {
    width: 100%;
    padding: 0 2.5rem;
    margin-top: -4rem;
  }

  .header-container {
    gap: 4rem;
  }

  .game-header {
    font-size: 4.2rem;
  }

  .game-instruction {
    font-size: 2.2rem;
  }

  .game-number {
    font-size: 5.4rem;
    width: 18rem;
    padding: 1.5rem 0;
  }

  #difficulty {
    width: 16rem;
    font-size: 1.8rem;
  }

  .btn {
    font-size: 2rem;
    padding: 1rem 2rem;
  }

  .check {
    max-width: 20rem;
  }

  .main {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5rem;
  }

  .game-result {
    transform: translateX(0);
    text-align: center;
  }

  .guess {
    /* font-size: 4.2rem; */
    padding: 2rem;
    width: 80%;
  }
}

/* Mobile Devices */
@media (max-width: 600px) {
  html,
  body {
    font-size: 50%;
  }

  .header-container {
    margin-top: 2rem;
  }
  .header {
    padding: 1rem;
  }

  .game-header {
    font-size: 3.2rem;
  }

  .game-instruction {
    font-size: 1.6rem;
  }

  .game-number {
    font-size: 4.8rem;
    width: 16rem;
    padding: 1rem 0;
  }

  #difficulty {
    /* width: 14rem; */
    font-size: 1.6rem;
  }

  .btn {
    font-size: 1.8rem;
    padding: 0.8rem 1.5rem;
  }

  .check {
    max-width: 18rem;
  }

  .main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .game-result {
    transform: translateX(0);
    text-align: center;
    font-size: 2.8rem;
  }

  .guess {
    font-size: 4rem;
    padding: 1.5rem;
    width: 80%;
  }
}
